<% provide(:title,'About Us') %>
<% provide(:about_us,'active') %>
<div class="row">
<div class="large-12 columns">
	<div class="panel">
	<h3>About Us </h3>	
	<div class="row">
    	<div class="large-12 medium-12 columns">
			<p>Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.

Lorem Ipsum has been the industry's standard dummy text ever since the 1500:s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

Lorem Ipsum dummy texts was available for many years on adhesive sheets in different sizes and typefaces from a company called Letraset.

When computers came along, Aldus included lorem ipsum in its PageMaker publishing software, and you now see it wherever designers, content designers, art directors, user interface developers and web designer are at work.

They use it daily when using programs such as Adobe Photoshop, Paint Shop Pro, Dreamweaver, FrontPage, PageMaker, FrameMaker, Illustrator, Flash, Indesign etc.</p>
		</div>    	   	        
	</div>       
	</div>
</div>
</div>