

<script>
	jqueryui_test_dialog();
</script>


<div id="dialog" title="Basic dialog">
	<p>Jquery-ui-rails is working with Quakismart web app</p>
</div>

<div class="demo-description">
<p>The basic dialog window is an overlay positioned within the viewport and is protected from page content (like select elements) shining through with an iframe.  It has a title bar and a content area, and can be moved, resized and closed with the 'x' icon by default.</p>
</div>